
.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  .main
  {
    display: flex;
  }
  .homeContainer {
    flex: 7;
    
    .listContainer {
      padding: 20px;
      margin: 20px;

      .listTitle {
        font-weight: 700;
        color: black;
        margin-bottom: 15px;
        font-size: 24px;
      }
    }
  }
}
