.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2; 
  
    .logo {
      width: 250px;
      height: 200px;

      .logo-image
      {
        width: 100%;
      }
    }
  
    .form-container {
      background-color: #D9D9D9; 
      border-radius: 20px; 
      padding: 30px; 
      width: 300px; 
      margin-bottom: 100px;
  
      .formTitle {
        font-size: 24px; 
        margin-bottom: 15px; 
        text-align: center;
        letter-spacing: 1px;
      }
  
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        .input-field {
          caret-color: transparent;
          width: 80%;
          height: 36px;
          margin: 10px 0;
          border: 2px solid #B7B7B7; 
          border-radius: 12px; 
          padding: 5px; 
          font-size: 18px;
          letter-spacing: 1px;
          padding-left: 10px;
          outline: none;
          
          &::placeholder {
            padding-left: 10px;
            color: #BBBBBB; 
            font-size: 16px;
            font-weight: 700; 
          }
          &:focus {
            border: 2px solid #434343;
            caret-color: auto;
          }
        }
        
  
        .login-button {
          width: 104px;
          height: 36px; 
          margin-top: 10px; 
          border: none;
          background-color: #d87648; 
          color: white;
          font-weight: 500;
          cursor: pointer;
          border-radius: 5px; 
          font-size: 18px;
          letter-spacing: 1px;
        }
  
        span {
          font-size: 12px;
          color: red;
          margin-top: 10px;
        }
      }
    }
  }
  